<%
  @document_title = "SimpleGreeter"
%>
<div class="jumbotron">
  <h1 class="display-3">SimpleGreeter</h1>
  <p class="lead">SimpleGreeterへようこそ！</p>
  <hr>
  <p><%= link_to 'このサイトについて', :about %></p>
</div>
