<%
  @document_title = "SimpleGreeter (#{@name})"
%>
<div class="card m-a-1">
  <%= image_tag 'robot.svg', alt: 'Robot',
    style: 'width: 100%; max-width: 320px' %>
  <div class="card-block card-inverse card-success">
    <p class="card-text lead">
      <i class="fa fa-smile-o"></i>
      Hello, <%= @name %>!
    </p>
  </div>
</div>
