<%
  @document_title = "SimpleGreeter (#{@name})"
  image_file_name = params[:name] ? 'robot.svg' : 'nasa_earth.jpg'
  image_alt_text = params[:name] ? 'Robot' : 'Earth'
%>
<div class="card m-a-0">
  <div class="text-xs-center">
    <%= image_tag image_file_name, alt: image_alt_text,
      style: 'width: 100%; max-width: 320px' %>
  </div>
  <div class="card-block card-inverse card-success">
    <p class="card-text text-xs-center lead">
      <i class="fa fa-smile-o"></i>
      Hello, <%= @name %>!
    </p>
  </div>
</div>
