<%
  @document_title = "SimpleGreeter (#{@name})"
%>
<div class="card m-a-0">
  <div class="card-block card-inverse card-success">
    <p class="card-text text-xs-center lead">
      Hello, <%= @name %>!
    </p>
  </div>
</div>
